
div.points {
    text-align: left;
    list-style-position: inside;
}

.intro {
    font-style: oblique;
    font-weight:800;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
}

html {
    background-color:rgb(249, 247, 247);
}

#logotext {
    font-size: 20px;
    color: #e1ae61;
    margin-top: 9px;
    word-spacing:2000px;
    padding-left: 100px;
    background-color: rgba(255, 226, 197, 0.769);
    height:50px;
}

ol {
    font-weight: bold;
    font-size:medium;
    padding-left: 100px;


}